<div id="schedule" class="page">
    <div class="divided title">
        Schedule
    </div>
    <div class="ui stackable page three grid form">
        <div class="three column row">
            <div class="column">
                <div class="divided title">Friday <span>2 Nov - ToolHouse</span></div>
                <div class="ui divided selection list">
                    <a class="item">
                        <div class="ui green horizontal label">18:00</div>
                        Registration
                    </a>
                    <a class="item">
                        <div class="ui green horizontal label">18:30</div>
                        HackTM Sibiu Opening
                    </a>
                    <a class="item">
                        <div class="ui green horizontal label">19:00</div>
                        Project Pitching
                    </a>
                    <a class="item">
                        <div class="ui horizontal green label">20:00</div>
                        Dinner & Networking Party
                    </a>
                </div>

            </div>
            <div class="column">
                <div class="divided title">Saturday <span>3 Nov - ASTRA National Museum Complex</span></div>
                <div class="ui divided selection list">
                    <a class="item">
                        <div class="ui orange horizontal label">09:00</div>
                        Hackathon Start
                    </a>
                    <a class="item">
                        <div class="ui horizontal orange label"></div>
                        Hacking
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">13:00</div>
                        Lunch by Krafty Bytes
                    </a>
                    <a class="item">
                        <div class="ui horizontal orange label"></div>
                        Hacking
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">19:00</div>
                        Dinner
                    </a>
                    <a class="item">
                        <div class="ui horizontal orange label"></div>
                        Hacking
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">00:00</div>
                        Midnight Surprise
                    </a>
                    <a class="item">
                        <div class="ui horizontal orange label"></div>
                        Hacking
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="divided title">Sunday <span>1 Nov - ASTRA National Museum Complex</span></div>
                <div class="ui divided selection list">
                    <a class="item">
                        <div class="ui horizontal red label"></div>
                        Hacking
                    </a>
                    <a class="item">
                        <div class="ui red horizontal label">12:00</div>
                        Jury Visits Start
                    </a>
                    <a class="item">
                        <div class="ui red horizontal label">13:00</div>
                        Lunch by Krafty Bytes
                    </a>
                    <a class="item">
                        <div class="ui red horizontal label">14:00</div>
                        Announcement of Finalists & Presentations
                    </a>
                    <a class="item">
                        <div class="ui horizontal red label"></div>
                        Hacking (why stop now?)
                    </a>
                    <a class="item">
                        <div class="ui red horizontal label">15:00</div>
                        Public Voting
                    </a>
                    <a class="item">
                        <div class="ui red horizontal label">15:30</div>
                        Awards
                    </a>
                    <a class="item">
                        <div class="ui horizontal red label"></div>
                        Hacking (don’t. stop. me. nooow)
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


