<div id="schedule" class="page">
    <div class="divided title">
        Schedule
    </div>
    <div class="ui stackable page three grid form">

        <div class="ui segment legend">
            <div class="ui divided selection list">
            <a class="item">
                <div class="ui horizontal blue label"></div>
                Hacking Events
            </a>
            <a class="item">
                <div class="ui horizontal orange label"></div>
                Workshop Area Events
            </a>
            <a class="item">
                <div class="ui horizontal green label"></div>
                Food & Drinks
            </a>
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <div class="divided title">Friday <span>11 May</span></div>
                <div class="ui divided selection list">
                    <a class="item">
                        <div class="ui blue horizontal label">17:00</div>
                        Registration
                    </a>
                    <a class="item">
                        <div class="ui blue horizontal label">18:00</div>
                        HackTM Opening
                    </a>
                    <a class="item">
                        <div class="ui green horizontal label">18:00</div>
                        Duba cu Mancare
                        <strong>Krafty Bytes</strong>
                    </a>
                    <a class="item">
                        <div class="ui horizontal blue label">19:00</div>
                        Pitching + Hackathon Start
                    </a>
                    <a class="item">
                        <div class="ui horizontal blue label">20:00</div>
                        Networking Party
                    </a>
                    <a class="item">
                        <div class="ui horizontal green label">20:00</div>
                        Choco Kebab by Flex
                    </a>
                    <a class="item">
                        <div class="ui horizontal blue label"></div>
                        Hacking
                    </a>
                </div>

            </div>
            <div class="column">
                <div class="divided title">Saturday <span>12 May</span></div>
                <div class="ui divided selection list">
                    <a class="item">
                        <div class="ui orange horizontal label">10:00</div>
                        HackTM Q&A
                    </a>
                    <a class="item">
                        <div class="ui green horizontal label">10:00</div>
                        Prospero <strong>Freshious by Flex</strong>
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">10:45</div>
                        Octavian Borcan <strong>TBA</strong>
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">11:30</div>
                        Bogdan Cimpoesu <strong>Alexa – Build Your Own Skill</strong>
                    </a>
                    <a class="item">
                        <div class="ui green horizontal label">12:00</div>
                        Hacker Lunch
                        <strong>Ice Cream by BeeSpeed<br>
                        Suppa Bar<br>
                        Duba cu Mancare</strong>
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">12:15</div>
                        Bogdan Buciuman <strong>TBA</strong>
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">13:00</div>
                        George Suveti <strong>Hacking with Firebase</strong>
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">13:45</div>
                        Flex <strong>TBA</strong>
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">14:30</div>
                        Silviu Bojica <strong>How We Use React Redux at Spectacle One</strong>
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">15:15</div>
                        Andrei Son <strong>How Romanian Startups Can Collaborate with Continental</strong>
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">16:00</div>
                        Aida Denisa Opîrlesc <strong>RIP, dear Legacy</strong>
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">16:45</div>
                        Ioana Iordan & Andie Brăslașu <strong>Pitching FTW- How to present your project</strong>
                    </a>
                    <a class="item">
                        <div class="ui orange horizontal label">17:30</div>
                        Puppet <strong>TBA</strong>
                    </a>
                    <a class="item">
                        <div class="ui horizontal blue label"></div>
                        Hacking
                    </a>
                    <a class="item">
                        <div class="ui green horizontal label">20:00</div>
                        Krafty Bytes
                    </a>
                    <a class="item">
                        <div class="ui horizontal blue label"></div>
                        Hacking
                    </a>
                    <a class="item">
                        <div class="ui horizontal blue label">00:00</div>
                        Midnight Surprise
                    </a>
                    <a class="item">
                        <div class="ui horizontal blue label"></div>
                        Hacking
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="divided title">Sunday <span>13 May</span></div>
                <div class="ui divided selection list">
                    <a class="item">
                        <div class="ui horizontal blue label"></div>
                        Hacking
                    </a>
                    <a class="item">
                        <div class="ui horizontal green label">10:00</div>
                        Breakfast
                        <strong>Muffins by Unified Post<br>
                        Prospero
                        Freshious by Flex</strong>
                    </a>
                    <a class="item red">
                        <div class="ui red horizontal label">12:00</div>
                        Jury Visits Start
                    </a>
                    <a class="item red">
                        <div class="ui green horizontal label">12:00</div>
                        Lunch<strong>
                        Suppa Bar<br>
                        Duba cu Mancare<br>
                        Krafty Bytes</strong>
                    </a>
                    <a class="item red">
                        <div class="ui horizontal red label">16:00</div>
                        Jury ends
                    </a>
                    <a class="item">
                        <div class="ui horizontal blue label">16:30</div>
                        Finalists & Presentations
                    </a>
                    <a class="item">
                        <div class="ui horizontal blue label"></div>
                        Hacking (why stop now?)
                    </a>
                    <a class="item">
                        <div class="ui red horizontal blue label">17:30</div>
                        Public Voting
                    </a>
                    <a class="item">
                        <div class="ui horizontal blue label">18:00</div>
                        Awards
                    </a>
                    <a class="item">
                        <div class="ui horizontal blue label"></div>
                        Hacking (don’t. stop. me. nooow)
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


