<div id="login">
  <div class="container">
    <div class="ui stackable two column grid">
      <div class="column ">
        <div class="content">
        <div class="ui segment">

          <div class="logo">
            <img src="assets/images/logo-color.png">
          </div>

          <div class="ui divider"></div>

          <div class="ui small error message"
               ng-show="error">
            {{error}}
          </div>

          <div ng-show="loginState === 'login'">
            <div class="ui login-password form">
              <form ng-submit="login()">
                <div class="field">
                  <label> Email or Ticket #</label>
                  <input type="text"
                         id='email'
                         placeholder="foo@bar.edu"
                         ng-model="email">
                </div>
                <div class="field">
                  <label> Password</label>
                  <input type="password"
                         id='password'
                         placeholder="Password (at least 6 characters)"
                         ng-model="password" required>
                </div>
                <div class="field">
                  <button id="login-password"
                          type="submit"
                          class="fluid ui login button">
                    Login
                  </button>
                </div>
              </form>
            </div>

          </div>

          <div class="ui divider"></div>


        </div>
      </div></div>
      <div class="column">
        <div class="content">
          <div class="ui segment">
            <h3>How to login?</h3>
            <div class="ui divider"></div>
            <p>You can find the credentials on your ticket. Please use the <span class="green-ticket">email address </span> or <span class="green-ticket">ticket #</span> as username and the <span class="red-ticket">secret key</span> as password.</p>
            <a href="#" class="ticket-open-modal">
            <img class="image" src="assets/images/ticket_credentials_sample.png">
            Click to enlarge</a>
            </div>
        </div>
        <div class="ui modal ticket">
          <div class="header">Ticket sample</div>
          <div class="content">
            <img src="assets/images/ticket_credentials_sample.png" class="image ticket-image">
          </div>
          <div class="actions">
            <div class="ui positive right labeled icon button">Got it<i class="checkmark icon"></i></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  $('.ticket-open-modal').click(function(){
    $('.ui.modal.ticket').modal('show');
  });
</script>