<div id="map" class="page">
    <div class="divided title">
        Map
    </div>
    <div class="ui stackable page grid">
        <div class="column form">
            <div class="ui segment">
            <div class="divided title">Hacking area</div>
            <img class="image" src="assets/images/venue_map_inner.jpeg" />
            </div>
            <div class="ui segment">
            <div class="divided title">Outdoor plan</div>
            <img class="image" src="assets/images/venue_map_outside.jpeg" />
            </div>
        </div>
    </div>
</div>

