<div class="ui top attached segment">

    <div class="ui header">
        {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
        <span
                ng-show="selectedUser.admin">
      (Admin)
    </span>
    </div>

</div>

<div class="ui botom attached segment">

    <div>
        <p>
            <strong> Status: </strong>
            <span
                    class="ui label">
        {{selectedUser.status.name.toUpperCase()}}
      </span>
        </p>
        <p>
            <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
        </p>
    </div>

    <div class="ui divider"></div>

    <div class="ui form">

        <fieldset ng-disabled="false">

            <div class="ui header">
                Basic Info
            </div>

            <div class="field">
                <strong>
                    Created on:
                </strong>
                {{formatTime(selectedUser.timestamp)}}
            </div>

            <div class="field">
                <strong>
                    Last Updated:
                </strong>
                {{formatTime(selectedUser.lastUpdated)}}
            </div>


            <div class="field">
                <label> Email </label>
                <input type="text" ng-model="selectedUser.email"/>
            </div>

            <div class="field">
                <label> Team </label>
                <input type="text" ng-model="selectedUser.teamCode"/>
            </div>

        </fieldset>

    </div>

    <div class="ui divider"></div>

    <div class="ui form">

        <fieldset ng-disabled="false">

            <div class="ui header">
                Profile
            </div>

            <div class="field">
                <label> Email </label>
                <input type="email"
                       name="email"
                       disabled="disabled"
                       ng-model="selectedUser.email">
            </div>

            <div class="field">
                <label> Full Name </label>
                <input type="text"
                       name="name"
                       ng-model="selectedUser.profile.name">
            </div>


            <div class="field">
                <label>Gender</label>
                <select
                        name="gender"
                        ng-model="selectedUser.profile.gender">
                    <option value="">Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                    <option value="N">I prefer not to answer.</option>
                </select>
            </div>


            <div class="field">
                <div
                        ng-click="updateProfile()"
                        class="ui positive right labeled icon button">
                    Update Profile
                    <i class="checkmark icon"></i>
                </div>
            </div>

        </fieldset>
    </div>

    <div class="ui divider"></div>

    <div class="ui form">

        <fieldset ng-disabled="false">

            <div class="ui header">
                Confirmation
            </div>

            <div class="field">
                <label> Shirt Size </label>
                <input type="text" ng-model="selectedUser.profile.shirtSize"/>
            </div>

            <div class="ui divider"></div>

        </fieldset>
    </div>
</div>
