#login {

  width: 100%;
  background-color: $login-bg-color;
  background: $login-bg;
  background-size: cover;
  @media only screen and (min-width: 760px) {
    height: 100%;
  }
  > .container {
    position: relative;

    @media only screen and (min-width: 760px) {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

    }


    > .grid{
      max-width: 680px;
      margin: 0 auto;
    }
     .content {
      max-width: 320px;
      margin:0 auto;
      .logo {
        max-width: 100px;
        margin: .5rem auto 1rem auto;
        img {
          width: 100px;
          height: 100px;
        }
      }

      .button {
        color: white;
        &.login {
          background: $login-color;
        }
        &.register {
          background: $register-color
        }
      }

      .forgot {
        text-align: center;
      }
       .ticket-open-modal{
         margin: 0 auto;
         text-align: center;
         display: block;
       }
      .image {
        max-width: 100%;
      }
    }
  }

}
