#team {
  text-align: center;
  .title {
    padding-top: 24px;

    .team-info {
      //flex-grow: 2;
    }

    .team-join {
      margin-left: auto;
    }
  }
  p {
    text-align: center;
    margin: 12px;
  }
  .subheader {
    word-wrap: break-word;
  }


}