#team {
  text-align: center;
  .title {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #111026;

    .team-info {
      text-align: left;
    }

    .team-join {
      margin-left: auto;
      min-width: 160px;
    }
  }
  p {
    text-align: center;
    margin: 12px;
  }
  .subheader {
    word-wrap: break-word;
  }


}