<div id="dashboard" class="page">
    <div class="divided title">
        Dashboard
    </div>
    <div class="ui stackable centered page  grid form">
        <div class="column">
            <div class="row ui segment">
                <div class="divided title">
                    Wifi Information
                </div>

                <div class="subtitle">Network: HackTM Oradea</div>
                <div class="subtitle">Password: welcome2hacktm</div>
            </div>
            <br>
            <div id="notification" class="row ui segment form">
                <div class="divided title">
                    Notifications
                </div>
                <div class="ui divided list fixed-height-400">
                    <a class="item" ng-repeat="notification in notifications|limitTo:20">
                        <span class="small">{{ fromNow(notification.timestamp) }}</span>
                        <strong>{{ notification.title }}</strong><br>
                        {{ notification.description }}<br>
                    </a>

                </div>
            </div>
            <br>
            <div class="row ui segment">
                <div class="divided title">
                    Checklist
                </div>

                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="example" disabled ng-model="hasTeam">
                        <label>Joined or created a team</label>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
